.container-fluid{
    margin-top: 70px;
    width: 95vw;
}

.home-com{
    background-color: #fff;
    height: 82vh;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.034);
}
.header-logo{
    width: 120px;
}
.btn-group{
    width: 100%;
    margin-top: 2px;   
}
.message-contant{
    height: 86%;
    padding: 20px 30px ;
    overflow-y: scroll;
}
.user-icon{
    background-color: #c57ef7;
    border-radius: 100%;
    text-align: center;
    padding: 10px 0px;
    color: white;
    width: 50px;
    height: 50px;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.116);
}
.message-dialoge{
    background-color: rgba(238, 238, 238, 0.507);
    width: fit-content;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    border-top-left-radius: 2px;
}
.message-container{
    margin-top: 10px;
}
.user-text{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.user-name{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.596);
}

.sender .message-dialoge{
    border-radius: 20px;
    border-top-right-radius: 2px;
    background-color: #c57ef7;
    color: white;
    margin-left: auto;

}

.sender .message-dialoge2{
    margin-left: auto;
}
.message-time{
    opacity: 0.4;
    font-size: 11px;
}
.sender  .message-time{
    opacity: 0.6;

}

.search-form{
    background-color: #fff;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.034);
}
.search-form input[type='search']{
    border:none;
    background-color: bleck;
    border-radius: 20px;
    padding: 11px;
}
.search-form .btn:hover{
    background-color: rgba(3, 3, 3, 0.637);
    border-radius: 100%;
    color: white;
}




.message-sender{
    width: 100%;
    padding-top: 10px;
}
.message-text-send button{
    border-radius: 100%;
    padding: 13px 15px;
    background-color: #fe4153;
    border: none;
    position: relative;
    bottom:  4px;
    left: 12px;    
}
.message-text-send button:hover{
    background-color: rgb(245, 38, 79);
}

.message-text-input textarea{
    resize: none;
    padding: 10px;
    margin: 0 20px;
    padding-left: 20px;
    border-radius: 40px;
    background-color: rgba(226, 226, 226, 0.192);

}
.message-text-input textarea::placeholder{
    font-size: 12px;
    
}


li{
    list-style: none;
}

.home-com-chat1{
    height: 7vh;
    margin-top: 20px;

}
.home-com-chat2{
    height: 71vh;
}

.active{
    background-color: #fe4153;
    color: white;
}

.chat-seaction .chat-type-link .btn{
    border-radius: 20px;
    margin-top: 3px;
    width: 100%;
    text-align: center;
}

.chat-load{
    height: 100%;
    overflow-y: scroll;

}

.add-chat-btn-secation{
    padding-top: 15px;
    position: relative;

}

.add-chat-btn-secation .message-text-send{
    margin-left: auto;
    position: relative;
    margin-top:  -90px;
    right:  25px;
 
}
.add-chat-btn-secation .message-text-send button{
    position: relative;
    /* border: 10px solid white ; */
}








::-webkit-scrollbar {
    width: 7px;
    position: relative;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(226, 226, 226); 
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: rgb(194, 194, 194); 
 
  }